apiVersion: apps/v1
kind: Deployment
metadata:
  name: imeetpro-backend
  namespace: imeetpro-prod
  labels:
    app: imeetpro
    component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: imeetpro
      component: backend
  template:
    metadata:
      labels:
        app: imeetpro
        component: backend
    spec:
      containers:
        - name: backend
          image: 664418964913.dkr.ecr.us-east-1.amazonaws.com/imeetpro-backend:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: imeetpro-config
            - secretRef:
                name: imeetpro-secrets
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          readinessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: imeetpro-backend-svc
  namespace: imeetpro-prod
spec:
  selector:
    app: imeetpro
    component: backend
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP
